<a href="{{ cart }}" class="header-cart">
  <div class="b-cart" id="cart">
      <div class="b-cart__ico" style="background-image: url(catalog/view/theme/tehaudumi/image/b-cart__ico.svg)">
        <div class="b-cart__n" id="cart-total">{{ text_items }}</div>
      </div>
      <div class="b-cart__price">
        <span id="cart-cur"> — {{ text_curr }}</span>
      </div>
    
  </div>
</a>