<div class="b-search-wrapper">
  <div id="search" class="b-search">
    <input class="b-search-input" type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
      <button type="button" class="b-search-btn">{{ text_search_btn }}</button>    
  </div>
</div>