{{ header }}

<div class="b-error-page">
  <div class="container">
    <div class="row">
      <div class="col-xl">
        <b>404</b>
        <a href="{{ continue }}">{{ text_error_link }}</a>
      </div>
    </div>
  </div>
</div> 

{{ footer }}
